.g-wrapper {
    width: 90%;
    height: 40vh;
    
    margin: auto;
    border: 2px solid rgb(243 242 242);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.g-h1{
    color: #59b256;
    text-align: center;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 700;
  
}
@media screen and (max-width: 480px) {
  .g-h1{
      color: #59b256;
      text-align: center;
      margin-bottom: 15px;
    font-size: 24px;
  }

}
.g-browser {
    margin-bottom: 15px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    height: 20px;
    background-color: rgb(243 242 242);
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 2;
}
.g-circle {
     
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 3px;
    background-color: #fff;
  }
  .red {
    background-color: rgb(255, 96, 87);
  }
  .yellow {
    background-color: rgb(255, 189, 46);
  }
  .green {
    background-color: rgb(39, 201, 63);
  }