.p {
  width: 30%;
  margin: 20px 10px;
  border: 2px solid rgb(243 242 242);
  border-radius: 10px;
  /* overflow: hidden; */
  height: auto;
  /* border: 2px solid blue; */
}
.p-wrapper {
  width: 100%;
  height: 40vh;

  border: 2px solid rgb(243 242 242);
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}
.p-details-title-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.p-details-title{
  font-weight: 700;
}
.p-details-github-link{
    text-decoration: none;
    color: rgb(197,44,66);
  }
  .p-details-project_details{
  color: rgb(197,44,66);
  text-align: center;

}
.p-details-detail-point{
  font-weight: 700;
}
.p-details-title-box-left{

    width: 60%;
}
.p-details-title-box-right{
    width: 35%;
    display: flex;
    justify-content: space-evenly;
}
.p-details {
  height: auto;
  width: 100%;
  margin-top: 10px;
  border-top: 0.5px solid rgb(115, 114, 114);
  border-radius:0px 0px 10px 10px;
  /* background-color: rgb(243 242 242); */
  /* border: 2px solid red; */
}
.p-details-description{
  height: 60%;
  padding:5px 15px;
  text-align: start;
  /* overflow: scroll; */
}
.p-details-desc-text{
    font-size: 12px;
}
.p-details-detail-text-points{
    font-size: 12px;
}
.p-details-tech-stack{
  height: 38%;
}
.p-details-tech-stack-box{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.p-details-tech-stack-icons{
  /* height: 25px; */
  width: 25px;

}
.p-browser {
  height: 20px;
  background-color: rgb(243 242 242);
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 2;
}
.p-circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 3px;
  background-color: #fff;
}
.red {
  background-color: rgb(255, 96, 87);
}
.yellow {
  background-color: rgb(255, 189, 46);
}
.green {
  background-color: rgb(39, 201, 63);
}
.p-img {
  width: 100%;
  transition: all 10s ease;
}
.p-wrapper:hover .p-img {
  transform: translateY(-75%);
}
@media screen and (max-width: 1000px) {
  .p {
    width: 46%;
    height: 96vh;
  }
  .p-details{
   height: 500px;
   margin-top: 5px;
  }
  .p-details-description{
    height: 59%;
  }
  .p-details-tech-stack{
    height: 20%;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 920px) {
  .p {
    width: 100%;
    height: auto;
  }
  .p-details{
   height: 55vh;
   margin-top: 5px;
  }
  .p-details-description{
    height: 46%;
  }
  .p-details-tech-stack{
    height: 20%;
    margin-bottom: 5px;
    
  }
}
@media screen and (max-width: 620px) {
  .p {
    width: 100%;
    height: 500px;
  }
  .p-details{
   height: 55vh;
   margin-top: 5px;
  }
  .p-details-description{
    height: 46%;
  }
  .p-details-tech-stack{
    height: 20%;
    margin-bottom: 5px;
    
  }
}
@media screen and (min-width:300px) and (max-width: 480px) {
  .p {
    height: 550px;
    width: 100%;
    /* background-color: #F3F2F2; */
}
  .p-details{
   height: 55vh;
   margin-top: 5px;
  }
  .p-details-description{
    height: 59%;
    margin-bottom: 5px;
  }
  .p-details-tech-stack{
    height: 20%;
    margin-bottom: 5px;
    margin-top: 30px;
  }
}

